body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    opacity: 0.9;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: seashell;
}

.headerContainer {
    position: fixed;
    width: 100%;
    min-height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: center;
    z-index: 30;
    background-color: black;

}

.header {
    width: 33%;
    vertical-align: middle;
}

.navDiv {
    width: 33%;
    text-align: right;
    padding: 23px;
}

.logo {
    height: 50px;
    padding: 10px;
}

.navDiv a {
    margin-left: 1rem;
}

.bodyContainer {
    position: relative;
    width: 66%;
    margin: 0 auto;
    top: 78px;
    z-index: 0;
    padding-left: 3.5%;
}

.background1 {
    width: 93%;
    height: 194%;
    left: 3.5%
}

.missionBar {
    position: relative;
    width: 93%;
    z-index: 10;
    min-height: 90px;
    bottom: 400px;
    text-align: center;
    background-color: black;
    padding-bottom: 5px;
    padding-top: 5px;
}