body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    opacity: 0.9;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: seashell;
}

.headerContainer {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    margin: 0 auto;
    border-bottom: 1px solid seashell;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

.navDiv {
    margin-right: 15px;

}

.navDiv a {
    margin-left: 1rem;
}

.bodyContainer {
    width: 1280px;
    margin: 0 auto;
}

.background1 {
    position: relative;
    width: 1200px;
    height: 700px;
    left: 40px;
}

.missionBar {
    position: relative;
    width: 1200px;
    z-index: 5;
    background-color: black;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    bottom: 450px;
}

.missionBar h2 {
    padding-top: 10px;
}

.missionBar h4 {
    padding-bottom: 10px;

}

.photoDiv1{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    left: 140px;
    margin:0 auto;
    
}

.photoDiv2{
    width: 1000px;
    display: flex;
    justify-content: center;
    left: 140px;
    margin:0 auto;
}

.photoDiv1 figure, .photoDiv2 figure{
    display: flex;
    flex-direction: column;
}

.photoDiv1 figure img,
.photoDiv2 figure img{
    height: 200px;
    width: 300px;
}

.photoDiv1 figure figcaption,
.photoDiv2 figure figcaption{
    text-align: center;
}